soap-service/src/main/resources/etudiant.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.fst.com/xml/kalablo"
           targetNamespace="http://www.fst.com/xml/kalablo" elementFormDefault="qualified">


  <xs:complexType name="Etudiant">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="prenom" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="adresse" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>