soap-service/src/main/resources/inscription.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://www.fst.com/xml/kalablo" 
           targetNamespace="http://www.fst.com/xml/kalablo" 
           elementFormDefault="qualified">

  <xs:complexType name="Inscription">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/> 
      <xs:element name="idEtudiant" type="xs:int"/>
      <xs:element name="dateInscription" type="xs:date"/>
      <xs:element name="niveau" type="xs:string"/>
      <xs:element name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
