soap-service/src/main/resources/matiere.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://www.fst.com/xml/kalablo" 
           targetNamespace="http://www.fst.com/xml/kalablo" 
           elementFormDefault="qualified">

  <xs:complexType name="Matiere">
          <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="coefficient" type="xs:decimal"/>
          </xs:sequence>
  </xs:complexType>

</xs:schema>
